//CSS style on-demand


//Home Promo styles
    
	.proceedBtn {   float: left;
    width: 100%;
    text-transform: uppercase;
    color: #3c7c99;
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
}

	.promo1{

		ul {

			li {

				.carousel-demo {

					ul {
						li {
							overflow: hidden;
							img { transform: translate(-50%, 0%); position: absolute; left: 50%; height: 100% !important; max-width: 1179px; }
						}
					}
				}
			}
		}
		.rn-carousel-controls { 
			width: 100%; height: 100vh; position: absolute; max-width: 1179px; top: 0px; left: 50%; transform: translate(-50%, 0%); 
			.rn-carousel-control-prev { left: 0px !important; }
			.rn-carousel-control-next { right: 0px !important; }
		}
		.slider-txt-container { pointer-events: none; }
	}

	@media (min-width: 750px) {
		.desk_hide { display: none; }
	}


	//Character Tab Styles
	@media (max-width: 749px){ 
		#nameGender {
			z-index: 1000;
			height: 372px !important;
		}
		.mobile_hide { visibility: hidden; }
		.mobile_display { display: none; }
		.color_drop {
			cursor: pointer;
			width: 50px;
			height: 50px;
			border-radius: 50%; margin: 10px 10px 10px 0px;
			background-image: url("../img/paintbrush_icon.png");
			background-size: 50px 50px;
		}
		.color_wrapper { float: left; width: 80px; }
		.character-wrapper {

			.tab-wrapper {
			
				#tabs {
					overflow: visible;
					.property-scroller-outer {
						  display: block;
    					position: relative;
    					width: 480px;
    					height: 83px;
    					overflow: hidden;
    					background-color: #ECEADD;
						.property-scroller-inner {
							position: absolute;
    					width: 480px;
    					overflow-x: scroll;
    					overflow-y: hidden;
						}
					}
					ul {
						width: 220%; 
						li { float: left; }
					}
					.tab-pane-style {
						width: 100%;
						height: 100px; 
						overflow: visible;
						background-color: #ECEADD;
						label {
							height: 75px;
							width: 75px;
							margin-right: 20px !important;
						}
					}
					.tab-content { 
						width: 100% !important; float: left; 
						background-color: #ECEADD;
						.property-label {
							display: none;
						}
						.color-thumbs {
							width: 70px;
							float: left;
							.color-thumb {
								width: 40px;
								height: 40px;
							} 
						}
						.icon-scroller-outer {
							display: block;
    					position: absolute;
    					top: 0px;
    					left: 90px;
    					width: 400px;
    					height: 83px;
    					overflow: hidden;
    					float: left;
							.icon-scroller-inner {
								position: absolute;
	    					width: 400px;
	    					overflow-x: scroll;
	    					overflow-y: hidden;
							}
						}
						.img_wrapper { 
							width: 1000px; float: left; 
							.slick-slide { margin-right: 60px; }
						}
						.ng-scope { float: left;  }
					}
				}
			}
		}	
		#slider {
			position: relative;
			top: -700px;
			left: -100px;
			transform: scale(.8);
			z-index: 1000px;
			margin-top: 130px !important; pointer-events: none;
			img:first-child {
	  		position: absolute !important;
	  	}
	  	.rn-carousel-control { pointer-events: all; }
  	}
	}

	// @media (max-width: 460px) {
	// 	// .icon-scroller-outer {
	// 	// 	width: 250px !important;
	// 	// 	.icon-scroller-inner {
	// 	// 		width: 250px !important;
	// 	// 	}
	// 	// }
	// 	.property-scroller-outer {
	// 		height: 50px !important;
	// 	}
	// }


