// Colors
$myColor: black;
$main: #6388ff;
$dmain: #204ddc;
$lgray: #f5f5f5;
$mgray: #969696;
$dgray: #333;

.hide-overflow {
    overflow: scroll;
}

// Gallery Image Size
$img: 124px;

// Custom Styles
$lborder: 3px solid #c9c9c9;
$dborder: solid 3px $mgray;

// Susy
$susy: (
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: overlay,
    toggle: top right,
  ),
  gutter-position: inside,
  gutters: 0
);

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// Import SCSS Modules
@import "node_modules/susy/sass/susy";

// Import Google Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,300);
$raleway: 'Raleway', tahoma, sans-serif;

@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);
$rubik: 'Rubik', sans-serif;

// Import SCSS Partials
@import "containers.scss";
@import "fixes.scss";
@import "common.scss";
@import "site.scss";
@import "kario_css.scss";

body{
    background-color:#eceadd;
}

.loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 2000;
    background-color: rgba(0,255,0,1);
}

.loading-message {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
}

//our css
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3c7c99;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #3c7c99;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #3c7c99;
}
:-moz-placeholder { /* Firefox 18- */
  color: #3c7c99;
}

.login-info-container{
    display:none;
}

#creationTool{
    overflow:hidden;
    /*margin-top:30px;*/
    background-color: #eceadd;
    font-family:$rubik;
}
#topPartWrapper {
    height:80px;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: #fff;
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 300;
}

#topPartWrapper .container{
    padding-top:14px;
    padding-bottom:14px;
}
.header-info{
    left: 50px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 90%;
    z-index: 500;
}

.header-info input {
    /*margin: 0 auto;
    width:425px;border: 1px solid #30a6c3;*/
    border: 0;
    background-color: #3c7c99;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    width: 380px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.header-info a {
    position: absolute;
    right: 20px;
    top:4px;
}
.header-info a.pencil {
    left: 10px;
    top: 22px;
    z-index: 600;
    background-image:url(/img/pencil2.png);
}

#topPartWrapper .logo{
    padding:0 15px;
    float:left;
}

.header-menu{
    float:right;
    margin: 15px 0 0 0;
    padding:0;
}

.header-menu li{
    list-style:none;
    display:inline-block;
    font-weight:500;
    padding-left:20px;
}
.header-menu li a{
    color:rgba(0,0,0, 0.3);
}

.tab-wrapper{
    overflow: hidden;
    width: 480px;
}

.tabs-btn-wrapper{
    background-color: #fff;
    height: 70px;
    overflow: hidden;
}

.tab-wrapper,#slider{
    float: left;
}
#tabs {
    background-color: #fcfcfa;
    max-height: 535px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.tab-content {
    overflow-y: scroll;
    max-height: 535px;
    height: 535px;
}

#tabs > div > div > ul,#tabs > .tab-pane-style {
    float: left;
    width:80%;
}
#tabs > div > div > ul {
    width: 132px;
    margin: 0;
    padding: 15px 0 0 0;
    /*padding: 25px 0 116px 0;*/
    background-color: #e95b4d;
}

#tabs li{
    margin: 6px 0;
    padding: 13px 10px;
    text-align: left;
}
#tabs li.active{

}

#tabs li.active:first-child {
}

#tabs li a{
    color:rgba(255,254,253,0.7);
    font-size:20px;
    text-transform:uppercase;
    font-weight:400;
}

#tabs li.active a{
    font-weight:500;
    color:#fffefd;
}

a:hover, a:focus{
    text-decoration:none;
}
#tabs .tab-pane-style {
    // width: 60%;
    background-color: #fcfcfa;
    padding:0 20px;
    position: relative;
    overflow:hidden;
    margin-bottom:10px;
    box-sizing: border-box;
}
#tabs > .tab-pane-style.active {
    display:block;
}

#tabs .tab-pane-style h3{
    margin:32px 0 10px 0;
    padding:0;
    color:#3c7c99;
    font-weight:500;
    font-size:14px;
    text-transform:uppercase;
}
#nameGender > .select-css {
    overflow: hidden;
    width: 100%;
    background: #fff url("/img/down_arrow.png") no-repeat scroll 95% center;
    border: 1px solid #c2d5dd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#tabs .tab-pane-style select, #tabs .tab-pane-style input{
    color:#3c7c99;
    font-weight:400;
    font-size:18px;
    border:0;
}
#tabs .tab-pane-style select {
    width:113%;
    background: transparent none repeat scroll 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 58px;
    line-height: 58px;
/*text-indent: 20px;*/
padding-left:20px;
}
@-moz-document url-prefix() {
    select {
       /*text-indent: 8px !important;*/
    } }

#tabs .tab-pane-style select option {
    text-indent: 17px;
}

#tabs .tab-pane-style input {
    width: 100%;
    border: 1px solid #c2d5dd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#tabs > .tab-pane-style.ng-scope {
    display: none;
}

#tabs .tab-pane-style label input{
    display:none;
}
#tabs .tab-pane-style label{
    width: 142px;
    //height:142px;
    height: 130px;
    background-color:#fff;
    cursor: pointer;
    margin:0 0 14px 0;
    //line-height:142px;
    overflow:hidden;
    text-align:center;
}
#tabs .tab-pane-style div:nth-child(2n+1) label.body-part-label{
    float:left;
}
#tabs .tab-pane-style div:nth-child(2n) label.body-part-label{
    float:right;
}
#tabs .tab-pane-style label img{
    max-width:100%;
    margin:0 auto;
    max-height: 142px;
}

.tabs-btn-wrapper .tab-btn-clear{
    width:132px;
    background-color:#fffcfc;
    text-align: center;
    font-size:13px;
    font-weight:500;
    display: block;
    color:rgba(233,91,77,0.8);
    float:left;
    height:70px;
    text-transform:uppercase;
}
.tabs-btn-wrapper .tab-btn-save{
    background-color:#fff;
    text-align: center;
    display: block;
    color:#3c7c99;
    float:left;
    height:70px;
    text-transform:uppercase;
    width: 330px;
}
.tab-btn-clear > a,.tab-btn-save > a {
    position: relative;
    
    font-size:13px;
    font-weight:500;
}
.tab-btn-clear > a{
    color:rgba(233,91,77,0.8);
    top: 25px;
}
.tab-btn-save > a {
    border: 1px solid;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    color: #3c7c99;
    display: inline-block;
    padding: 12px;
    width: 62%;
    top:13px;
}


ul{
    list-style:none;
}

#tabs .ng-pristine.ng-untouched.ng-valid.ng-scope.ng-not-empty > input[type="radio"] {
    display: none;
}

input{
    padding:10px 20px;
}

input#avatar-name-input {
    padding: 16px 46px 16px 20px;
}
.q-circle {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d9d8cc;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #5d92aa;
    cursor: pointer;
    font-size: 19px;
    font-weight: 500;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 36px;
}
.i-circle {
    background: #3d7d99 none repeat scroll 0 0;
    border: 1px solid #3d7d99;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #3d7d99;
    cursor: pointer;
    font-weight: 500;
    height: 26px;
    text-align: center;
    width: 26px;
    display:inline-block;
}
.q-circle.small{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    display:inline-block;
}
#slider .q-circle,
#slider .i-circle {
    right: 0;
    top:15px;
}

#tabs .tab-pane-style .q-circle.small,
#tabs .tab-pane-style .i-circle.small{
    position: relative;
    float: right;
    right: 10px;
    top: -43px;
}


.q-circle:hover,.q-circle:focus,
.q-circle-sm:hover,q-circle-sm:focus,
.i-circle:hover,.i-circle:focus,{
    text-decoration:none;
    color:#5d92aa;
    opacity:0.8;
}

.error-msg{
    background-color: #f8eaee;
    border: 2px solid #e0194d;
    color: #dca9b7;
    margin: 16px 0 0;
    padding: 16px;
    position: absolute;
    width: 88%;
    z-index: 1000;
    display: none;
}

.error-msg:after, .error-msg:before,
.error-msg::after, .error-msg::before {
	bottom: 100%;
	left: 90%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.error-msg:after,.error-msg::after {
	border-color: rgba(248, 234, 238, 0);
	border-bottom-color: #f8eaee;
	border-width: 10px;
	margin-left: -10px;
}
.error-msg:before,.error-msg::before {
	border-color: rgba(224, 25, 77, 0);
	border-bottom-color: #e0194d;
	border-width: 13px;
	margin-left: -13px;
}
.date-input {
    background: #fff url("/img/down_arrow.png") no-repeat scroll 95% center;
    padding:10px 47px 10px 20px;
}

/*SLIDER*/
#slider {
  position:relative;
  width:480px;
  text-align:center;
}
#slider  img{
  width: auto;
  height: 475px;

  left: 0;
  position: absolute;
  top:60px;
  right:0;
  margin:0 auto;
}
#slider img:first-child{
  position:relative;
}

#slider ul{
  padding:0 0 38px 0;
  margin: 0 auto;
}

#slider .q-circle.big{
    font-size: 58px;
    height: 66px;
    margin: 0 auto;
    position: absolute;
    width: 66px;
    right: 6%;
    top: 50%;
    line-height: 59px;
    font-weight:400;
    background-color:#4c869f;
    color:#fff;
    border:0;
}

#slider .new-char-txt{
    color: #30a6c3;
    font-size: 26px;
    font-weight: 400;
    left: 0;
    line-height: 30px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 39%;
    width: 78%;
}

#slider #avatar-name-input {
    background-color: transparent;
    border: 0 none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #3c7c99;
    font-size: 32px;
    font-weight: 700;
    padding: 0;
    text-align: center;
    width: 100%;
}
.avatar-selection{
    overflow:hidden;
    width:100%;
    max-width:430px;
    padding:0 !important;
    margin-top: 23px !important;
}
.avatar-selection > li{
    float:left;
    width:80%;
}
.avatar-selection > li:first-child{
    width:10%;
}
.avatar-selection > li:last-child{
    width:10%;
    text-align:right;
}
#slider .ng-binding{
    position:relative;
}
#slider .prev-btn, #slider .next-btn{
    display: block;
    height: 60%;
    width: 60%;
    position: absolute;
    top: 15%;
    z-index: 50;

}

.avatar-image-bundle img {
    z-index: 100;
}

#slider .prev-btn {
    left: 0;
    img {
        top: 0;
        left: -26px;
        height: 100%;
    }
}

#slider .next-btn {
    right: 0;
    img {
        top: 0;
        height: 100%;
    }
}

// #slider .next-btn {
//     background:url(/img/right_arrow.png) no-repeat center;
// }
// #slider .next-btn.inactive {
//     background:url(/img/right_arrow_inactive.png) no-repeat center;
//     cursor:not-allowed;
// }
// #slider .prev-btn {
//     background:url(/img/left_arrow.png) no-repeat center;
// }
// #slider .prev-btn.inactive {
//     background:url(/img/left_arrow_inactive.png) no-repeat center;
//     cursor:not-allowed;
// }

.salutation-wrapper{
    color:#3c7c99;
    font-size:32px;
    font-weight:400;
    padding-top: 10px;
}

.salutation-wrapper .name-salutation{
    font-weight:700;
    text-decoration:underline;
}

.pencil{
    width:17px;
    height:17px;
    background-image:url(/img/pencil.png);
    background-repeat:no-repeat;
    background-position:center;
    display: inline-block;
}

.salutation-wrapper .pencil{
    margin-left:10px;
}

/*bottom part*/
#bottomPartWrapper {
    /*border-top:1px solid #30a6c3;*/
    -moz-box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.2);
    height: 99px;
    margin: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 600;
}

.steps-menu{
    overflow:hidden;
    display:block;
    margin-top: 10px;
    padding: 0;
}

.steps-menu > li{
    float:left;
    width: 25%;
}

.steps-menu > li span{
    display:block;
}
.steps-menu > li .avatar-label {
    color: #ebebeb;
    font-size: 12px;
    font-weight: 500;
    position:relative;
    top:10px;
}

.steps-menu > li.active .avatar-label{
    color: #3d7d99;
    top:0;
}

.steps-menu > li .circle {
    width:20px;
    height:20px;
    background-color:#ebebeb;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 5px;
    z-index: 200;
}
.steps-menu > li.active .circle {
    width:30px;
    height:30px;
    border:4px solid #3d7d99;
    top:0;

}
.steps-menu > li.done .circle {
    background-color: #3d7d99;
}
.steps-menu > li .bar {
    background-color: #ebebeb;
    display: block;
    height: 2px;
    position: relative;
    width: 100%;
    z-index: 100;
    top: -6px;
}
.steps-menu > li.active .bar {
    top: -15px;
}
.steps-menu > li:last-child .circle {
    right:0;
    position:relative;
}
.steps-menu > li:last-child .bar {
    background-color:transparent;
}

.steps-menu > li.done .bar {
    background-color: #3d7d99;
}

#bottomPartWrapper .w-col-md-4 a{
    /*display:block;*/
    display:inline-block;
    text-align:center;
}

#bottomPartWrapper > .container{
    margin-top:10px;
}
.blue-btn {
    background-color: #30a6c3;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 16px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.blue-btn:hover,.blue-btn:focus{
    color:#fff;
}
.footer-btn {
    background-color: #e95b4d;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 16px 30px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}
.footer-btn:hover,.footer-btn:focus{
    color:#fff;
}
#bottomPartWrapper .w-col-md-4{
    width: 33.3333%;
    float:left;
}
#bottomPartWrapper .w-col-md-4:last-child {
    text-align:center;
    }
#bottomPartWrapper .w-col-md-4 a.blue-btn.back-btn{
    display:inline-block;
    opacity:0;
    background:#30a6c3 url(/img/back_arrow.png) no-repeat 16px center;
    padding-left:50px;
}
#bottomPartWrapper .w-col-md-4 a.footer-btn.back-btn{
    display:inline-block;
    opacity:0;
    background:#e95b4d url(/img/back_arrow.png) no-repeat 16px center;
    padding-left:50px;
}
#bottomPartWrapper .w-col-md-4 a.skip-btn{
    color:rgba(233,91,77,0.5);
    font-size:12px;
    font-weight:500;
    display:block;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    outline: 1px solid #d8e5eb;
}
input[type="radio"]:checked + label.color-thumb {
    background: url("/img/tik.png") no-repeat center;
    outline: 0 none;
}


/*display none*/
.banner {
    display: none;
}

#slider .new-char-txt{
    display:none;
}

.character-wrapper.container {
    /*padding-bottom: 150px;*/
    padding-bottom: 90px;
}

.color-thumbs {
    background-color: white;
    margin-bottom: 20px;
}

#tabs .tab-pane-style label.color-thumb {
    width: 50px;
    height: 50px;
    border: 1px solid #d8e5eb;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin: 10px 10px 10px 10px;
}


/*media queries*/
@media screen and (max-width: 1000px) , screen and (max-height: 767px) {
    #bottomPartWrapper {
    position: fixed;
    height:auto;
    }
     #bottomPartWrapper > .container {
    padding-bottom: 10px;
}
}

@media (max-width: 1020px){
    .tab-wrapper, #slider {
    max-width:480px;
    width:50%;
    }

    #tabs > div > div > ul, .tabs-btn-wrapper .tab-btn-clear {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 40%;
    }
    #tabs .tab-pane-style, .tabs-btn-wrapper .tab-btn-save {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 60%;
    }

    .tab-pane .ng-scope {
    text-align: center;
}
    #tabs .tab-pane-style label {
        height: auto;
        max-width: 142px;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

#tabs .tab-pane-style div:nth-child(2n+1) label.body-part-label {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#tabs .tab-pane-style div:nth-child(2n) label.body-part-label {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

}
@media only screen and (min-width:739px) and (max-width: 1000px)  {
    .header-info{
        left:5%;
        width: 90%;
    }
    .header-info input{
        width: 100%;
        font-size: 1.2em;
        padding: 18px 20px;
    }
    #slider .q-circle, #slider .i-circle{
        top:68px;
    }
}

@media (max-width: 740px){
    .tab-wrapper, #slider {
    float: none;
    margin: 0 auto 35px;

    max-width: 480px;
        width:100%;
    }
    .character-wrapper.container {
    padding-bottom: 0;
    }
    .character-wrapper.container.pfpreview {
    padding-bottom: 90px;
}
    .tab-btn-save > a{
        width:57%;
    }
    .color-thumbs {
        display: none;
    }
    .steps-menu {
        display: none !important;
    }
}

@media (max-width: 630px){
    #bottomPartWrapper .w-col-md-4 {
    width:50%;
    }
    #bottomPartWrapper .w-col-md-4:last-child:before,
    #bottomPartWrapper .w-col-md-4:last-child::before{
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
    }
    #bottomPartWrapper .w-col-md-4:last-child {
    //width:100%;
    float:none;
    overflow:hidden;
    }
    .steps-menu{
        margin-bottom:30px;
    }
    .steps-menu > li {
        width: 43%;
    }
    .steps-menu > li:last-child {
        width: 14%;
    }
}

@media (max-width: 530px){
   .tab-wrapper,#slider {
        max-width: 480px;
        width:100%;
    }
   .header-info{
        left:0;
        width: 100%;
    }
    .header-info input{
        width: 100%;
        font-size: 1.2em;
        padding: 18px 20px;
    }
    #slider .q-circle, #slider .i-circle{
        top:68px;
    }
}
@media (max-width: 510px){
#topPartWrapper{
    height:auto;
}
#topPartWrapper .logo {
    float: none;
}
.header-menu {
    float: none;
    width:100%;
    margin: 15px auto 0 auto;
}
.header-menu li {
    padding-left: 10px;
}
.header-menu li a {
    font-size: 15px;
}
}
@media (max-width: 480px){
#slider .q-circle.big{
    right:-4%;
}

}

@media (max-width: 430px){
    .tabs-btn-wrapper,.tabs-btn-wrapper .tab-btn-clear,.tabs-btn-wrapper .tab-btn-save{
        height:86px;
    }
    .tab-btn-clear > a{
        top: 37px;
    }
    #bottomPartWrapper .w-col-md-4 {
    width:100%;
    float:none;
    }
   
    .steps-menu{
        margin-top:30px;
    }
    .tab-btn-save > a{
        width:80%;
        top:23px;
    }
}
@media (max-width: 395px){
    #tabs > div > div > ul {
    width: 100%;
    padding:15px 0;
}
    #tabs li {
    padding: 5px;
    margin:0;
    text-align:center;
}
    #tabs li a {
    line-height: 12px;
    font-size: 18px;
}
    #tabs .tab-pane-style {
    width: 100%;
}
    .salutation-wrapper{
        font-size: 28px;
    }

}

@media (max-width: 350px){
    #slider img{
    width:100%;
    height:auto;
    }
    .header-menu li a {
    font-size: 14px;
}
    .header-info a.pencil {
    left: 6px;
}
}

.ghost {
    opacity: 0 !important;
}



/*****************************************/
/***********pfpreview*********************/
/*****************************************/
.pfpreview {
    overflow:hidden;
}

.pfpreview .input-container{
    display: block;
    margin: 0 auto;
    position: relative;
    width: 430px;
}

.pfpreview > .header-info{
    left: auto;
    position: relative;
    text-align: left;
    top: 0;
    width: 100%;
    overflow:hidden;
}

.pfpreview .header-info input {
    width: 100%;
}

.pfpreview .header-info a {
    top: 13px;
}

.pfpreview .header-info a.pencil {
    left: 5%;
    top: 22px;
}
.characters-result-info{
    overflow:hidden;
}

.social-menu{
    width:14%;
    max-width:130px;
    float:left;
    padding-top: 10%;
}

.social-menu a{
    display:block;
    width:62px;
    height:62px;
    margin:0 auto 14px auto;
}

.character-all-photo{
    width:86%;
    max-width:830px;
    float:left;
}

.character-all-photo img{
    width:100%;
    max-width:830px;
}

.footer-btn.edit-btn{
    background-color: #fff;
    color:rgba(233,91,77,0.9);
    border:1px solid #f4ada6;
}

.footer-btn.edit-btn:hover, .footer-btn.edit-btn:focus {
    opacity:0.8;
}


@media (max-width: 800px){
    .social-menu {
    float: none;
    margin: auto;
    max-width: 292px;
    overflow: hidden;
    padding-top: 6%;
    width: 100%;
}
    .social-menu a {
    display: block;
    float: left;
    margin: 0 14px 0 0;
}
    .social-menu a:last-child {
    margin: 0;
}
    .character-all-photo {
    float: none;
    margin: auto;
    max-width: 830px;
    width: 100%;
}
}

@media (max-width: 650px){
    .pfpreview .input-container{
        max-width:430px;
        width:100%;
    }
}

@media (max-width: 500px){
    .social-menu a {
    margin: 0 6% 0 0;
    width: 20%;
}
    .social-menu a img {
    width:100%;
    height:auto;
}
}

@media (max-width: 380px){
    .pfpreview > .header-info{
        overflow:unset;
    }
    .pfpreview .header-info a {
    right: -15px;
    top: 15px;
}
}


.flip-book-info .text-container{
    font-size:28px;
    font-weight:300;
    color:rgba(3,46,88,0.9);
    text-align:center;
    line-height: 32px;
    padding:16px 0 9px 0;
}

.flip-book-info strong{
    font-weight:400;
}

.flipbook-style{
    margin: auto;
    max-width: 1008px;
    position: relative;
    width: 100%;
    z-index:200;
}
.flipbook-style .flipbook-placeholder{
    width:50%;
    height:auto;
    opacity:0;
}

.flipbook-style .page-wrapper{
    overflow:hidden;
    z-index:200;
}


.flipbook-style .page{
    position:absolute;
    width:50%;
    height:100%;
    float:left;
    top:0;
    bottom:auto;
    z-index:200;
}

.flipbook-style .page:nth-child(2n+1){
    left:0;
    right:auto;
}

.flipbook-style .page:nth-child(2n){
    left:auto;
    right:0;
}

.flipbook-style .page img{
    width:100%;
    vertical-align:middle;
}

.flipbook-arrows{
    margin: auto;
    max-width: 1008px;
    position: absolute;
    top: 36%;
    width: 100%;
    z-index: 300;
}

.flipbook-arrows .arrows{

    width:6%;
    background-repeat:no-repeat;
    background-position:center;
    display:inline-block;
    overflow:hidden;
}
.flipbook-arrows img{
    width:100%;
    height:auto;
}
.flipbook-arrows .arrows.left{
    left: 2%;
    position: absolute;
    right: auto;
}

.flipbook-arrows .arrows.right{
    left: auto;
    position: absolute;
    right: 2%;
}

.flipbook-arrows .arrows.inactive{
   opacity:0.3;
   cursor:not-allowed;
}



.flipbook-info-container{
    overflow:hidden;
}

.destination-container{
    width:61%;
    /*max-width:395px;*/
    max-width:356px;
    float:left;
    overflow:hidden;
    padding-left:4%;
}
.destination-container  img{
    display:block;
    float:left;
}

.destination-container .title{
    width:28%;
}

.destination-container .destination{
     width:21%;
     float:left;
     display:block;
     background-image:url(/img/dest_bg.png);
     background-size:cover;
     cursor:pointer;
}


.destination-container .destination img {
width:100%;   
  opacity:0.3;
}

.destination-container .destination.active img{
    opacity:1;
    }

.destination-container .end{
    width:8.7%;
}

.destination-container a:hover{
    opacity:1;
}
.destination-container .destination img:hover{
    opacity:1;
}


.pagination-container{
    font-size:18px;
    font-weight:400;
    color:#3c7c99;
    width:31%;
    float:right;
    text-align:right;
    padding: 2% 4% 0 0;
}

.pagination-container .present-num {
    font-size: 20px;
    border: 1px solid #c0cecc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding:2px 10px;
    margin-left:7px;
}

.pagination-container .seperator{
    font-size:22px;
    padding:0 7px;
}

.pagination-container .total-num{
font-size:20px;
}

@media (max-width: 650px){
    .destination-container {
    float: none;
    margin: 5% auto auto auto;
    padding-left: 0;
    width: 100%;
    /*max-width:356px;*/
}
    .pagination-container {
    float: none;
    padding: 2% 0 0;
    text-align: center;
    width: 100%;
}
}

.form-container {
    /*padding: 13px 0 0 20px;*/
    max-width:504px;
    position:relative;
}

.form-container h2{
    color: #032e58;
    font-size: 16px;
    font-weight: 400;
    left: 4%;
    margin: 0;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    top: 4%;
}

.form-container h3{
    color: rgba(3, 46, 88, 0.54);
    font-size: 14px;
    font-weight: 400;
    left: 4%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10%;
}

.form-container textarea {
    background-color: transparent;
    border: 0 none;
    color: rgba(3, 46, 88, 0.8);
    font-size: 16px;
    font-weight: 400;
    height: 73%;
    left: 4%;
    padding: 4%;
    position: absolute;
    top: 18%;
    width: 95%;
}

.q-circle.big {
    z-index: 150;
}

@media (max-width: 670px){
    .message-page .page{
        width:100%;
        float:none;
        position: relative;
        max-width:504px;
        margin:auto;
        left: 4%;
    }
    .message-page .flipbook-placeholder{
        display:none;
    }
}

@media (max-width: 370px){
    .form-container h2{
        top:-1%;
    }
    .form-container h3{
        top:8%;
    }
}


.rn-carousel-control.rn-carousel-control-prev:before, 
.rn-carousel-control.rn-carousel-control-next:before
 {
    content: "" !important;
}

.rn-carousel-control.rn-carousel-control-prev {
    display: block;
    background:url(/img/left_arrow.png) no-repeat center;
    position: absolute;
    width: 100px;
    height: 40px;
    left: -16px;
    top: 200px;
}

.rn-carousel-control.rn-carousel-control-next {
    display: block;
    background:url(/img/right_arrow.png) no-repeat center;
    position: absolute;
    width: 100px;
    height: 40px;
    right: -16px;
    top: 200px;
}

.rn-carousel-control {
    z-index: 5000;
}

.promo1 .rn-carousel-control.rn-carousel-control-next {
    display: block;
    background: url(/img/slider_next.png) no-repeat center;
    position: absolute;
    width: 100px;
    height: 100px;
    right: 106px;
    top: 200px;
}

.promo1 .rn-carousel-control.rn-carousel-control-prev {
    display: block;
    background:url(/img/slider_prev.png) no-repeat center;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 106px;
    top: 200px;
}

.carousel3.ng-scope {
    width: 300px;
    height: 500px;
}

.slider {
    user-select: none;
}

.modal-backdrop {
    display: none !important;
}

#slider .q-circle.delete-avatar-button {
    position: absolute;
    left: 40px;
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
    top: 100px;
    cursor: pointer;
    z-index: 1500;
}

#tabs input.input-error {
    border: 2px solid red;
}