body{
    background-color:#fff;
    font-family: 'Rubik', sans-serif;
    font-weight:400;
    overflow-x:hidden;
}
html, body, form {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
a{
    text-decoration:none;
}
.site-page {
    width: 100%;
    height: 100%;
}

.site-container{
}

/****************************************/
/*       header                         */
/****************************************/
header {
    background-color: #fff; -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);  position: relative; text-align: center; z-index: 300; width:100%;
    img { display:block; width:100%; }
    .logo { float: left; margin:7.5px 30px; position:relative; max-width:147px; height:auto; }
    .header-menu { position:relative; margin: 28px 0; }
    .header-menu a { color: #3c7c99; }
    .bordered-btn { 
        float:right; position:relative; margin: 18px 30px 18px 30px; text-transform: uppercase; text-align: center; border: 1px solid #f4bab5; color: #e95b4d; font-weight: 500; font-size: 12px; padding: 12px 30px; -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px; }
        &:hover, &:focus { color:#f4bab5; }
    .header-right-block{ float:right; }
    .lang{ 
        float:right; 
        ul{ 
            position:relative; padding:0; margin:0; 
            ul{ position:absolute; z-index:400; top:81px; display:none; }
        }
        li{ 
            position:relative; background-color:#f0f0f0; width:80px; height:80px; text-align:center; 
            a { display:block; width:42px; height:42px; margin:auto; top: 50%; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); position:relative; }
            img{ border-color:#e6e6e6; }
            li{ 
                background-color:#3c7c99; 
                img{ border-color:#36708a; }
            }
            &::hover ul{ display:block; }
        }
        img { border: 4px solid; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
    }
}
.burger-menu-symbol{ display:none; }

@media (max-width: 800px){
    header {
        .bordered-btn{ margin: 18px 20px 18px 20px; }
    }
}


@media (max-width: 749px){
    /*header{
        overflow:hidden;
    }*/
    header:after,header::after{
        content:'';
        clear:both;
    }
    .burger-menu-symbol{
    background-image: url("/img/burger.png");
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    margin: auto;
    position: absolute;
    right: 3%;
    width: 60px;
    top:0;
    bottom:0;
}
    .header-info-block {
    background-color:rgba(69,130,158,0.98);
    height: 100vh;
    position: absolute;
    text-align: center;
    top: 120px;
    width: 100%;
    z-index: 500;

    display:none;
}
    header .logo {
        display: inline-block;
    float: none;
    max-width: 184px;
    margin: 20px 0;
    position: relative;
    }
    .header-right-block{
        float: none;
    width: 100%;
    }

    .header-menu {
        float: none;
        width: 100%;
        text-align:center;
        z-index:100;
    }
    .header-menu li {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-weight:300;
    font-size:80px;
    line-height:160px;
    }
    
    header .header-menu a {
        color: #fff;
    }

    header .lang ul ul {
        z-index: 1000;
        }
    header .bordered-btn{
        border: 1px solid #fff;
        color: #fff;
        font-size: 16px;
    }
     header .bordered-btn:hover{
         color: #fff;
     }
}
@media (max-width: 510px) {
  .site-page .header-menu li a {
    font-size: 65px; 
    line-height:130px;
  } 

}

@media (max-width: 479px){
    header .logo {
    float: left;
    margin-left: 10px;
    }
}
/****************************************/
/*       LOGIN                          */
/****************************************/
.login-window{
    background-color:rgba(69,130,158,0.98);
    width:100%;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    z-index:500;
    overflow:hidden;
    text-align:center;
}
.close-win{
    text-align:right;
    padding:26px 36px 0 36px;
}

.login-window .container{
    overflow:hidden;
    max-width:390px;
    width:100%;
    margin:auto;
    padding:0 10px;
}

.login-window .logo{
    padding:0 0 62px 0;
    display:inline-block;
}
.login-window h1{
    font-size:30px;
    font-weight:300;
    color:rgba(255,255,255,0.5);
    margin:0 0 42px 0;
}

.login-window .full-btn{
    width:100%;
    text-decoration:none;
    margin-bottom:16px;

    -webkit-box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.11);
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.11);
}
.full-btn.fb-btn{
    background-color:#3c5a99;
}
.full-btn.google-btn{
    background-color:#dd5044;
}

.login-window .info{
    font-size:16px;
    font-weight:300;
    color:rgba(255,255,255,0.5);
}

.login-window .info a{
    font-weight:500;
    color:rgba(255,255,255,0.5);
    text-decoration:none;
}

.full-btn > img {
    padding-right: 10px;
    position: relative;
    top: -1px;
}

@media (max-width: 500px){
    .close-win{
    padding:26px 10px;
}
}

@media (max-width: 330px){
    .login-window .info a{
    display:block;
}
}
/****************************************/
/*       footer                         */
/****************************************/
footer{
    width:100%;
    background-color:#3c7c99;
}

.footer-copyright{
    background-color:#336f8d;
    overflow:hidden;
    font-family: 'Roboto', sans-serif;
}

footer .container{
    max-width:982px;
    width:100%;
    padding:60px 10px;
    margin:0 auto;

    overflow:hidden;
}
footer .footer-copyright .container{
    padding:0 10px;
}
footer .logo{
    width:26%;
    float:left;
    padding: 16px 0 0;
}
footer .logo img{
    max-width:116px;
}
footer .footer-menu{
    width:74%;
    float:left;
    overflow:hidden;
}

.footer-menu-col{
    width:30%;
    float:left;
}

.footer-menu h3{
    color:#fff;
    font-size:14px;
    text-transform:uppercase;
    margin:0;
    padding:0;
    line-height:40px;
}
.footer-menu ul{
    padding:0;
    margin:0;
}

.footer-menu ul li{
    display:block;
    width:100%;
}
.footer-menu ul a{
    color:rgba(255,255,255,0.5);
    font-size:13px;
    text-transform:uppercase;
    display:inline-block;
    line-height:32px;
}

footer .copyright{
    float:left;
    color:rgba(255,255,255,0.5);
    font-size:12px;
    padding:15px 0;
}
footer .contact-info{
    float:right;
    text-align:right;
    padding:14px 0;

    color:rgba(255,255,255,0.6);
    font-size:14px;
}

footer .contact-info a{
    color:rgba(255,255,255,0.6);
    font-weight:500;
}

footer .contact-info .phone{
    font-weight:500;
}
footer .contact-info .seperator{

padding:0 12px;
}

@media (max-width: 749px){
    footer .logo {
    display: block;
    float: none;
    margin: 10px auto 80px auto;
    max-width: 238px;
    padding:0;
    text-align: center;
    width: 100%;
}
    footer .logo img{
    max-width:238px;
    width:100%;
    }
    
footer .footer-menu {
    float: none;
    width: 100%;
}

.footer-menu-col {
    width: 34%;
    padding-right:10px;
}
.footer-menu .footer-menu-col:last-of-type{
    padding-right:0;
    width: 32%;
}
footer .footer-copyright .container {
    padding: 0;
}
footer .contact-info {
    background-color: #3c7c99;
    color: rgba(255, 255, 255, 0.6);
    float: none;
    font-size: 1.3em;
    padding: 14px 10px 32px;
    text-align: center;
}
footer .copyright {
    float: none;
    font-size: 26px;
    padding: 25px 10px;
    text-align: center;
}
}

@media (max-width: 600px) {
    footer .logo {
    margin-bottom:30px;
}
    .footer-menu-col,.footer-menu{
    margin-top: 50px;
    }
.footer-menu-col,.footer-menu .footer-menu-col:last-of-type {
    padding-right: 0;
    width: 100%;
    
}
.footer-menu h3 {
    font-size: 32px;
}
.footer-menu ul a {
    font-size: 30px;
    line-height: 32px;
    margin-top:30px;
}
.footer-menu nav a:after,.footer-menu nav a::after{
    clear:both;
    display:block;
}
    footer .contact-info .seperator {
        display:none;
    }

    footer .contact-info .phone {
        display: block;
    }
}
/****************************************/
/*       site content                   */
/****************************************/

/****************************************/
/*       HOME                           */
/****************************************/

/*promo1*/
.promo1{
    overflow:hidden;
    position:relative;
    z-index:100;
}
.promo1.slider ul{
    position:relative;
    width:100%;
    overflow:hidden;
    margin:0;
    padding:0;
}
.slider li{
    position:relative;
    width:100%;
    z-index:300;
}

.slider img{
    position:relative;
    z-index:100;
    width:100%;
    display:block;
}
@media (max-width: 1130px){
    .promo1.slider img{
    width:auto;
    height:780px;
    margin:auto;
}
    .promo1 .rn-carousel-control.rn-carousel-control-prev{
        left:-26px;
    }
    .promo1 .rn-carousel-control.rn-carousel-control-next{
        right:-26px;
    }
    .promo1.slider .slider-txt-container{
        width:80%;
    }
}

@media (max-width: 750px){
    .promo1.slider .full-btn{
        bottom:2%;
    }
}

@media (max-width: 420px){
    .promo1 .slider-txt-container h3{
        display:none;
    }
}

.slider .slider-txt-container {
    position: absolute;
    z-index: 200;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.promo1 .slider-txt-container h2{
    font-weight:300;
    color:#fff;
    font-size:60px;
    margin:0;
}
.promo1 .slider-txt-container h3{
    font-weight:300;
    color:rgba(255,255,255,0.7);
    font-size:28px;
    margin:0;
}

.full-btn {
    background-color: #e95b4d;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    text-align:center;
    font-size:14px;
    display:inline-block;
    width:316px;
    padding:18px 0;
}
.full-btn:hover,.full-btn:focus{
    color: #fff;
}
@media (max-width: 340px) {
    .full-btn{
        max-width: 316px;
        width:95%;
    }
}
.slider .full-btn{
    position:absolute;
    z-index:200;
    top:auto;
    bottom:8%;
    left:0;
    right:0;
    margin:auto;
}

.slider .slider-controls{
    position:absolute;
    z-index:400;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    overflow:hidden;

}
.promo1.slider .slider-controls{
    left: 8.75%;
    right: 8.75%;
    opacity:0.5;
}
@media (max-width: 1020px){
    .promo1.slider .slider-controls{
        left: 10px;
        right: 10px;
    }
}
.slider .slider-controls a{
    display:inline-block;
    width:31px;
    height:60px;
    background-repeat:no-repeat;
}
.slider .slider-controls .slider-prev{
    float:left;
    background-image: url(/img/slider_prev.png);
}

.slider .slider-controls .slider-next{
    float:right;
    background-image: url(/img/slider_next.png);
}

/*promo2*/
.promo2{
    overflow:hidden;
    position:relative;

    background-image: url(/img/promo2_bg_plain.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;

    padding:60px 0 0 0;
    text-align:center;
    z-index:100;
}

.promo2 h2,.promo2 h3{
    margin:0;
}

.promo2 h2{
    font-weight:300;
    color:#fff;
    font-size:42px;
    padding-bottom:12px;
}
.promo2 h3{
    font-weight:400;
    color:rgba(255,255,255,0.5);
    font-size:14px;
    line-height: 20px;
}

.promo2 .slider ul{
    position:relative;
    overflow:hidden;
    margin:0 auto;
    padding:0;
}

.promo2 .slider li{
    position:relative;
    width:100%;
    z-index:300;
}

.promo2 .slider img{
    max-width:980px;
    width:100%;
    margin:auto;
}
.promo2 .full-btn {
    bottom: 46px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    z-index: 300;
}

.promo2 .slider .slider-controls{
    max-width: 962px;
}
@media (max-width: 990px){
    .promo2 .slider .slider-controls{
        max-width: 100%;
        padding:0 10px;
    }
}
@media (max-width: 749px){
    .promo2 h2{
        margin:0 10px;
    }
    .promo2 h3{
        font-size: 1.8em;
        font-weight: 300;
        line-height: 1;
    }
}

@media (max-width: 550px){
    .promo2 .full-btn{
        bottom:8px;
    }
}

/*promo3*/
.promo3{
    overflow:hidden;
    text-align:center;
    padding:70px 0 65px 0;
    z-index:100;
}
.promo3 h2{
    font-weight:300;
    color:#3c7c99;
    font-size:42px;
    padding-bottom:12px;
    margin:0;
}
.promo3 h3{
    font-weight:400;
    color:rgba(60,124,153,0.5);
    font-size:14px;
    line-height: 20px;
}
.promo3 .grid-view{
    overflow:hidden;
    max-width:1420px;
    margin:auto;
    width:100%;
    padding:50px 0;
}

.promo3 .grid-view .col-big{
    float:left;
    width:56.33802816901408%;
    max-width:800px;
}

.promo3 .grid-view .col-small{
    overflow:hidden;
    float:left;
    width:43.66197183098592%;
    max-width:620px;
}

.promo3 .grid-view .col-small .col-1-0f-4{
    width:50%;
    float:left;
    padding:0 0 0 10px;
}

.promo3 .grid-view .col-small .col-1-0f-4:first-child,.promo3 .grid-view .col-small .col-1-0f-4:nth-child(2){
    padding-bottom:10px;
}

.promo3 .grid-view .col-big img,.promo3 .grid-view .col-small .col-1-0f-4 img{
    width:100%;
}

.promo3 .full-btn{
    margin:auto;
}
.promo3 .grid-view img{
    display:block;
}

.landing-page h3.mobile{
        display:none;
    }

@media (max-width: 749px) {
    .promo3 h2 {
    font-size: 62px;
    line-height:64px;
    padding:0 10px;
    }
    .promo3 h3 {
    font-size: 40px;
    line-height: 42px;
    padding:0 10px;
    margin:26px 0 46px 0;
}
    .promo3 .grid-view{
        padding-top:0;
    }
    .promo3 .grid-view .col-big {
    float: none;
    width: 100%;
}
    .promo3 .grid-view .col-small {
    float: none;
    margin: auto;
    max-width: 800px;
    width: 100%;
}
    .promo3 .grid-view .col-small .col-1-0f-4{
        width:49%;
    }
    .promo3 .grid-view .col-small .col-1-0f-4,
    .promo3 .grid-view .col-small .col-1-0f-4:first-child, 
    .promo3 .grid-view .col-small .col-1-0f-4:nth-child(2)
    {
        padding:2% 0 0 0;
    }
    .promo3 .grid-view .col-small .col-1-0f-4:last-child, 
    .promo3 .grid-view .col-small .col-1-0f-4:nth-child(2){
        float:right;
    }

    .landing-page h3.desktop{
        display:none;
    }

    .landing-page h3.mobile{
        display:block;
    }
    
}



/****************************************/
/*       CONTACT                        */
/****************************************/
.contact-page .select-css {
    background: #fff url("/img/down_arrow.png") no-repeat scroll 95% center;
    border: 1px solid #c2d5dd;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    width: 100%;
}

.contact-page select {
    -moz-appearance: none;
    background: transparent none repeat scroll 0 0;
    height: 58px;
    line-height: 58px;
    padding-left: 20px;
    width: 113%;
    
    border: 0 none;
}

.contact-page select option {
    text-indent: 17px;
}
/*faq*/
.faq{
     position:relative;
}

.faq img{
    width:100%;
    height:auto;
    position:relative;
    z-index:100;
}

.faq .container{
    max-width:822px;
    left:0;
    right:0;
    bottom: 53%;
    z-index: 200;
    margin:auto;
    position: absolute;
    padding:0 10px;

    background-image:url("/img/faq_lines.png");
    background-position: top right;
    background-repeat: no-repeat;
}

.faq h2{
    background-image:url("/img/faq_h2_bg.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    font-weight:400;
    font-size:36px;
    text-align:left;
    color:rgba(255,255,255,0.9);
    padding:12px 0 4px 114px;
    margin:0;
}

.faq .select-css{
    background-image:url("/img/down_arrow_dark.png");
    -webkit-box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    top: 8px;

    max-width:622px;
    margin:auto;
}

.faq select{
    color:rgba(69,130,158,0.9);
    font-weight:300;
    font-size:20px;
}
@media (max-width: 1040px){
    .faq .container{
    background-image:none;
}
    .faq img{
        display:none;
    }
    .faq{
        min-height:400px;
        background-image: url("/img/faq_bg_plain.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    }
}

/*contact*/
.contact.container{
    max-width:660px;
    padding-bottom:80px;
}

.contact h2{
    color:#3c7c99;
    font-weight:300;
    font-size:60px;
    text-align:center;
    margin:56px 0 76px 0;
    line-height:58px;
}
.contact .select-css {
    background: #fff url("/img/down_arrow_dark.png") no-repeat scroll 95% center;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-left:0;
    border-right:0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    width: 100%;
}

.contact select {
    -moz-appearance: none;
    background: transparent none repeat scroll 0 0;
    height: 58px;
    line-height: 58px;
    padding-left: 17px;
    width: 113%;
    border: 0 none;
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.contact input,.contact textarea{
    display:block;
    width:100%;
    border-bottom:1px solid #e5e5e5;
    border-left:0;
    border-right:0;
    border-top:0;
    padding:18px 20px;
    font-weight:400;
    font-size:14px;
    color:rgba(0,0,0,0.3);
    font-family: "Rubik",sans-serif;
}
.contact input:focus,.contact textarea:focus{
    color:#3c7c99;
}
.contact textarea{
    border-left:0;
    border-right:0;
    border-top:0;
}

.contact .full-btn{
    background-color:#f5f8fa;
    color:#3c7c99;
    display:block;
    margin:auto;
    margin-top:58px;
}

/****************************************/
/*       ABOUT                          */
/****************************************/
.about-page{
    position:relative;
    text-align:center;
}

.about-wrapper{
    position:relative;
    width:100%;
}
.about-info-container{
    background-image: url("/img/about_bg1.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 125px auto auto auto;
    max-width: 1390px;
    width:100%;
}

.about-info-container .text-container {
    min-height: 671px;
    margin: auto;
    width: 45%;
}

/*.about-page .container{
    position:relative;
    max-width:820px;
    margin:auto;
    padding:0;
}

.about-page .text-container{
    padding:0 88px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin:auto;
    z-index:200;
    background-color: #fff;
}
.about-page .girl{
    position:absolute;
    left:-162px;
    top:0;
    z-index:100;
}

.about-page .boy{
    position:absolute;
    right:-172px;
    top:0;
    z-index:100;
}*/

.about-page .text-container h2{
    font-weight:500;
    margin:0;
    font-size:60px;
    color:#3c7c99;
    line-height:58px;
}

.about-page .text-container h3{
    font-weight:300;
    margin:0;
    font-size:28px;
    color:#000;
    padding-bottom:56px;
}

.about-page .text-container p{
    font-weight:300;
    padding:0 0 50px 0;
    margin:0;
    font-size:20px;
    color:rgba(0,0,0,0.7);
    line-height:40px;
}
.about-wrapper .cloud{
    position:absolute;
    left:0;
    bottom:0;
    z-index:100;
}

@media (max-width: 800px) {
    .about-info-container{
        background-image:none;
        margin-top:100px;
        margin-bottom:50px;
    }
    .about-info-container .text-container {
        width: 85%;
    }
}

/*about images*/
.about-images{
    background-image: url("/img/about_images.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    max-width: 980px;
    width:100%;
    margin:auto;
    min-height:384px;
    overflow:hidden;
    /*padding:100px 0 114px 0;*/
    padding:5.5% 0 6% 0;
}

.col-1-of-3{
    width:33.333%;
    float:left;
    text-align:center;
}

.about-images .col-1-of-3 img {
    max-width: 255px;
    width: 100%;
    margin: auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
@media (max-width: 950px){
    .about-images .col-1-of-3 img {
        width: 90%;
    }
}

@media (max-width: 800px) {
    .about-images{
        min-height:unset;
    }
}

/*dream*/
.about-dream-wrapper{
    position:relative;
    overflow:hidden;
}

.about-dream-container{
    max-width:1388px;
    margin:auto;
    width:100%;
    background-image: url("/img/about_giraffe.png");
    background-repeat: no-repeat;
    background-position:bottom right;
}
.about-dream-wrapper .text-container{
    margin: auto;
    width: 100%;
    max-width:660px;
    padding:0 10px 18% 10px;
}

.about-dream-wrapper .about_cloud{
    position:absolute;
    left:0;
    top:28%;
}
.about-dream-wrapper .about_giraffe{
    display:none;
    max-width:516px;
    width:100%;
}

@media (max-width: 1352px) {
    .about-dream-container{
        background-image: none;
    }
    .about-dream-wrapper .about_giraffe{
        display:block;
        float:right;
    }
    .about-dream-wrapper .text-container{
        padding-bottom:0;
    }
}
@media (max-width: 800px) {
    .about-dream-wrapper{
        margin-top:90px;
    }
}



/****************************************/
/*            profile                   */
/****************************************/

/*profile*/
.profile-header{
     position:relative;
     margin-bottom: 60px;
}

.profile-header img{
    width:100%;
    height:auto;
    position:relative;
    z-index:100;
}

.profile-header .container{
    max-width:822px;
    left:0;
    right:0;
    bottom: 0;
    top:0;
    z-index: 200;
    margin:auto;
    position: absolute;
    padding:0 10px;
    max-height:240px;
}

header .user-avatar {
    max-width: 60px;
    display: block;
    margin: 8px 20px 0;
    float:right;
}

header .user-avatar img {
    width:100%;
    height:auto;
    display: block;
-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.profile-header .user-avatar {
    max-width: 150px;
    display: block;
    margin: 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom:18px;
}


.profile-header h2{
    font-weight:300;
    font-size:32px;
    line-height:40px;
    text-align:center;
    color:#3c7c99;
    padding:0;
    margin:0;
}

.profile-header h3{
    font-weight:400;
    font-size:16px;
    line-height:20px;
    text-align:center;
    color:rgba(60,124,153,0.6);
    padding:0;
    margin:0;
}

@media (max-width: 1340px){
    .profile-header .container{
    background-image:none;
}
    .profile-header img{
        display:none;
    }
    .profile-header{
        min-height:400px;
        background-image: url("/img/profile_bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    }
}

/*avatars*/
.avatars{

}
.avatars.container,.orders.container {
    max-width: 970px;
    padding: 0 10px 80px 0;
}
.avatars-header{
    overflow:hidden;
    border-bottom:1px solid #e5e5e5;
    margin:0 0 14px 10px;
}

.avatars h2, .orders h2{
    font-weight:500;
    font-size:26px;
    line-height:20px;
    color:#3c7c99;
    float:left;
    display:inline-block;
    margin:0;
    padding:0 0 12px 0;
}

.avatars .edit-btn, .orders .edit-btn{
    float:right;
    display:inline-block;
    font-weight:500;
    font-size:13px;
    line-height:28px;
    color:#e95b4d;
    text-transform:uppercase;
}

.avatars-wrapper{
    overflow:hidden;
}

.avatars-wrapper .col-1-of-3{
    padding-left:10px;
}
.avatars-wrapper img{
    width:100%;
    display:block;
}

/*orders*/
.orders-header{
    overflow:hidden;
    margin:0 0 0 10px;
}

.orders-wrapper {
    border: 1px solid #e5e5e5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding:20px 16px;
    margin: 0 0 0 10px;
}
.order-block{
    padding:0 0 20px 0;
    margin:0 0 20px 0;
    border-bottom: 1px solid #e5e5e5;
    overflow:hidden;
}
.order-block:last-of-type{
    padding:0;
    margin:0;
    border-bottom: 0;
}

.order-block .img-c{
    float:left;
    width: 24%;
}
.order-block .img-c img {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    display:block;
    width:100%;
    max-width:215px;
}

.order-block .info{
    float:left;
    padding:0 8px;
    width: 56%;
}

.order-block .info h3{
    font-weight:400;
    font-size:24px;
    line-height:30px;
    color:#000;
    padding:0;
    margin:0;

    position: relative;
    top: -4px;
}

.order-block .info h3 strong{
    font-weight:500;
}
.order-block .info h4{
    font-weight:300;
    font-size:16px;
    line-height:24px;
    color:rgba(0,0,0,0.5);
    padding:0;
    margin:0;
}
.order-block .order-details{
    padding:14px 0 0 0;
}

.order-block .info h4 strong{
    font-weight:400;
}

.order-block .order-btn {
    margin-top: 16px;
}
.order-block .order-btn a {
    background-color: #3c7c99;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 12px 26px;
    display: inline-block;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.order-block .status{
    float:right;
    font-size:12PX;
    line-height:24px;
    font-weight:400;
    text-align:center;
    padding-top: 24px;
   width: 20%;
}

.order-block .status a,.order-block .status span{
    background-position:top center;
    background-repeat:no-repeat;
    min-width: 74px;
    display: block;
    padding-top: 66px;
}
.order-block .status .delete-order{
    background-image: url(/img/order_delete.png);
    color:#e95b4d;
}
.order-block .status .on-the-way-order{
    background-image: url(/img/order_on_the_way.png);
    color:#3c7c99;
}
.order-block .status .delivered-order{
    background-image: url(/img/order_delivered.png);
    color:#48b322;
}
@media (max-width: 870px){
    /*.order-block .img-c{
        float:none;
        width: 100%;
    }

    .order-block .info{
        float:none;
        padding:0;
        width: 100%;
    }

    .order-block .status{
        float:none;
       width: 100%;
    padding-top: 24px;
    }*/
    .order-block .info{
        width: 62%;
    }

    .order-block .status{
       width: 14%;
    }

}

@media (max-width: 599px){
    .order-block .img-c{
        float:none;
        width: 100%;
    }
    .order-block .img-c img{
        margin:auto;
    }
    .order-block .info{
        float: none;
    padding: 20px 0 0;
    text-align: center;
    width: 100%;
    }

    .order-block .status{
        float:none;
       width: 100%;
    padding-top: 24px;
    }

}

@media (max-width: 450px){
    .avatars-wrapper .col-1-of-3 {
        padding-left: 10px;
        margin-bottom: 10px;
        float: none;
        text-align: center;
        width: 100%;
    }
    .avatars-wrapper img {
        margin: auto;
        max-width: 314px;
    }
    .no-order-block .full-btn {
    max-width: 316px;
    width: 95%;
}
}
/*no order*/
.no-order-block{
    text-align:center;
    padding:48px 0;
}
.no-order-block h3{
    font-size:42px;
    font-weight:300;
    color:#3c7c99;
    line-height:50px;
    padding:0;
    margin:0;
}
.no-order-block p{
    font-size:14px;
    font-weight:400;
    color:rgba(60,124,153,0.5);
    line-height:20px;
    padding:16px 0;
    margin:0;
}
.no-order-block .full-btn{
    margin-top:24px;
}
/****************************************/
/*       media query general            */
/****************************************/
@media (min-width: 750px){
    .site-page {
	    display: table;
    }

    .site-container{
	    height: auto;
    }

    header {
        height:1px;
        display: table-row;

    }

    footer{
        display: table-row;
        height: 1px;
    }
}

#myModal {
    display: none;
}