<div class="about-page">
    <section class="about-wrapper">
        <div class="about-info-container">
            <div class="text-container">
                <h2>About Us</h2>
                <h3>The team behind Family Stories</h3>
                <p>Gummies muffin sesame snaps lemon drops cheesecake jelly beans. Wafer ice cream sweet candy canes caramels icing lollipop pie jujubes. Macaroon jelly beans pie powder oat cake sesame snaps jelly beans macaroon pastry. Marzipan cotton candy apple pie. Sweet halvah sweet jujubes oat cake macaroon biscuit. Sugar plum jelly-o gummies soufflé bonbon pastry jelly gummies. Chupa chups soufflé pudding ice cream sweet roll cotton candy dragée jelly sesame snaps. Cake fruitcake bear claw lemon drops marshmallow carrot cake sesame snaps pastry. Tart sesame snaps topping tootsie roll sweet roll cupcake sweet. Danish gingerbread jelly-o soufflé oat cake macaroon bear claw. Danish tiramisu topping soufflé. Icing gummies.</p>
            </div>
        </div>
        <img src="/img/about_cloud.png" class="cloud" alt="" />
    </section>
    
    <section class="about-images">
        <div class="col-1-of-3"><img src="/img/about_images_1.jpg" alt="" /></div>
        <div class="col-1-of-3"><img src="/img/about_images_2.jpg" alt="" /></div>
        <div class="col-1-of-3"><img src="/img/about_images_3.jpg" alt="" /></div>
    </section>
    
    <section class="about-dream-wrapper">
        <div class="about-dream-container">
            <div class="text-container">
                <h2>Our Dream</h2>
                <h3>There is a story about some awesome…</h3>
                <p>Gummies muffin sesame snaps lemon drops cheesecake jelly beans. Wafer ice cream sweet candy canes caramels icing lollipop pie jujubes. Macaroon jelly beans pie powder oat cake sesame snaps jelly beans macaroon pastry. Marzipan cotton candy apple pie. Sweet halvah sweet jujubes oat cake macaroon biscuit. Sugar plum jelly-o gummies soufflé bonbon pastry jelly gummies.</p>
                <p>Chupa chups soufflé pudding ice cream sweet roll cotton candy dragée jelly sesame snaps. Cake fruitcake bear claw lemon drops marshmallow carrot cake sesame snaps pastry. Tart sesame snaps topping tootsie roll sweet roll cupcake sweet. Danish gingerbread jelly-o soufflé oat cake macaroon bear claw. Danish tiramisu topping soufflé. Icing gummies jelly beans biscuit marzipan marshmallow jujubes marshmallow. Cake biscuit cake. Candy sugar plum biscuit cake jelly.</p>
            </div>
            <img src="/img/about_giraffe.png" class="about_giraffe" alt="" />
        </div>
        <img src="/img/about_cloud2.png" class="about_cloud" alt="" />
    </section>
</div>