<div class="contact-page">
    <section class="faq">
        <img src="/img/faq_bg_plain.jpg" alt="" />
        <div class="container">
            <h2>FAQ</h2>
            <div class="select-css">
                <select>
                    <option>How can I help you?</option>
                    <option>Help subject</option>
                </select>
            </div>
        </div>
    </section>
    
    <section class="contact container">
        <h2>Contact Us</h2>
    
        <div class="select-css">
            <select>
                <option>Select a subject</option>
                <option>Subject 1</option>
            </select>
        </div>
        <input type="text" id="" placeholder="Name">
        <input type="text" id="" placeholder="Email">
        <textarea placeholder="Write your message"></textarea>
        <a href="javascript:void(0);" class="full-btn">SEND</a>
    </section>
</div>