<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/site.css">
</head>
<body>
    <div class="site-page landing-page">
        <header>
            <a href="javascript:void(0);" class="burger-menu-symbol"></a>

            <a href="javascript:void(0);" class="logo"><img src="/img/logo_header.png" alt="" /></a>
            <div class="header-info-block">
                <div class="header-right-block">
                    <div class="lang">
                        <ul>
                            <li>
                                <a href="javascript:void(0);"><img src="/img/lang1.jpg" alt="" /></a>
                                <ul>
                                    <li><a href="javascript:void(0);"><img src="/img/lang1.jpg" alt="" /></a></li>
                                    <li><a href="javascript:void(0);"><img src="/img/lang2.jpg" alt="" /></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <a href="javascript:void(0);" class="bordered-btn" data-toggle="modal" data-target="#myModal">LOG IN</a>
                    <div class="clearfix"></div>
                </div>

                <ul class="header-menu">
                    <li><a href="javascript:void(0);">Home</a></li>
                    <li><a href="javascript:void(0);">Profile</a></li>
                    <li><a href="javascript:void(0);">Settings</a></li>
                    <li><a href="javascript:void(0);">About</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </header>

        <!-- login -->
        <div class="login-window" style="display:none;">
            <div class="close-win">
                <a href="javascript:void(0);"><img src="/img/modal_close.png" alt="" /></a>
            </div>
            <div class="container">
                <img src="/img/logo_win.png" class="logo" alt="" />
                <h1>Create your account</h1>

                <a href="javascript:void(0);" class="full-btn fb-btn"><img src="/img/fb.png" alt="" />sign up with facebook</a>
                <a href="javascript:void(0);" class="full-btn google-btn"><img src="/img/google.png" alt="" />sign up with google</a>

                <div class="info">You already have an account? <a href="javascript:void(0);">Log in</a></div>
            </div>
        </div><!-- end login -->

        <div class="site-container">
            <section class="promo1 slider">
                <ul>
                    <li>
                        <img src="/img/landing_slider_1.jpg" alt="" />
                        <div class="slider-txt-container">
                            <h2>A story for every family</h2>
                            <h3>Imagine an illustration book with your <br />family traveling around the world</h3>
                        </div>
                        <a href="javascript:void(0);" class="full-btn">CREATE YOUR BOOK</a>
                    </li>
                </ul>
                <div class="slider-controls">
                    <a href="javascript:void(0);" class="slider-prev"></a>
                    <a href="javascript:void(0);" class="slider-next"></a>
                </div>
            </section>
            <section class="promo2">
                <h2>A story with your family in it</h2>
                <h3 class="desktop">Gummi bears gummies muffin cookie. Cake pudding biscuit carrot <br />cake. Cheesecake caramels sweet.</h3>
                <h3 class="mobile">Gummi bears gummies muffin cookie</h3>
                <div class="slider">
                    <ul>
                        <li><img src="/img/promo2_slide_1_all.png" alt="" /></li>
                    </ul>
                    <div class="slider-controls">
                        <a href="javascript:void(0);" class="slider-prev"></a>
                        <a href="javascript:void(0);" class="slider-next"></a>
                    </div>
                </div>
                <a href="javascript:void(0);" class="full-btn">Buy Now</a>
            </section>
            <section class="promo3">
                <h2>Make your family avatars fast n easy</h2>
                <h3 class="desktop">Gummi bears gummies muffin cookie. Cake pudding biscuit carrot <br />cake. Cheesecake caramels sweet.</h3>
                <h3 class="mobile">Gummi bears gummies muffin cookie</h3>

                <div class="grid-view">
                    <div class="col-big"><img src="/img/landing_grid_big.jpg" alt="" /></div>
                    <div class="col-small">
                        <div class="col-1-0f-4"><img src="/img/landing_grid_sm1.jpg" alt="" /></div>
                        <div class="col-1-0f-4"><img src="/img/landing_grid_sm2.jpg" alt="" /></div>
                        <div class="col-1-0f-4"><img src="/img/landing_grid_sm3.jpg" alt="" /></div>
                        <div class="col-1-0f-4"><img src="/img/landing_grid_sm4.jpg" alt="" /></div>
                    </div>
                </div>

                <a href="javascript:void(0);" class="full-btn">create now your book</a>
            </section>
        </div>
        <footer>
            <div class="container">
                <a href="javascript:void(0);" class="logo"><img src="/img/logo_footer_b.png" alt="" /></a>
                <div class="footer-menu">
                    <div class="footer-menu-col">
                        <h3>THE COMPANY</h3>
                        <ul>
                            <li><a href="javascript:void(0);">About us</a></li>
                            <li><a href="javascript:void(0);">create</a></li>
                            <li><a href="javascript:void(0);">tech specs</a></li>
                            <li><a href="javascript:void(0);">order information</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu-col">
                        <h3>FOOTER</h3>
                        <ul>
                            <li><a href="javascript:void(0);">About us</a></li>
                            <li><a href="javascript:void(0);">create</a></li>
                            <li><a href="javascript:void(0);">tech specs</a></li>
                            <li><a href="javascript:void(0);">order information</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu-col">
                        <h3>FOOTER</h3>
                        <ul>
                            <li><a href="javascript:void(0);">About us</a></li>
                            <li><a href="javascript:void(0);">create</a></li>
                            <li><a href="javascript:void(0);">tech specs</a></li>
                            <li><a href="javascript:void(0);">order information</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="contact-info">Contact us <a href="mailto:info@familystories.com">info@familystories.com</a><span class="seperator">|</span><span class="phone">0030 123 1234 456</span></div>
                    <div class="copyright">All rights reserved FAMILY STORIES 2016</div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
