<div class="character-wrapper container pfpreview">
    <div class="header-info">
        <div class="input-container">
            <a class="pencil" href="javascript:void(0);"></a>
            <!-- family's name -->
            <input type="text" name="" id="" placeholder="FAMILY NAME" value="TIMOS' BOOK" />
        </div>
        <!-- help button -->
        <a href="javascript:void(0);" class="q-circle">?</a>
    </div>
    <div class="flip-book-info">
        <div class="text-container">
            <strong>Congratulations!</strong> <br />You are few clicks away from your <strong>first Book!</strong>
        </div>
        <!-- flipbook class has been changed to flipbook-style, the flipbook class is necessary for the plugin to work and must contain images - see below MIKE -->
        <div class="flipbook-style" ng-show="preview.loaded && preview.folder2loaded">
            <div class="page-wrapper">
                <div class="flipbook">
                    <img ng-src="{{'https://pfstories.com/preview' + '/' + preview.folderName + '/' + ($index + 1) + '.PNG'}}" src="" ng-repeat="image in preview.imageList(4) track by $index" ng-init="$last && preview.finished()">
                </div>
<!--                 <div class="page"><img src="/img/book_page1.png" alt="" /></div>
                <div class="page"><img src="/img/book_page2.png" alt="" /></div>
                <div class="page"><img src="/img/book_page1.png" alt="" /></div>
                <div class="page"><img src="/img/book_page2.png" alt="" /></div> -->

                <!-- THIS WAS HIDDEN THROUGH CSS AS IT WAS MAKING THE PAGE TOO LARGE -->
                <!--Placeholder, required for responsive layout (height). Please do not remove-->
                <img src="/img/book_page1.png" alt="" class="flipbook-placeholder" />
                <!--Placeholder, required for responsive layout (height). Please do not remove-->
            </div>
            <div class="flipbook-arrows">
                <a href="javascript:void(0);" class="arrows left inactive"><img src="/img/flip_arrow_left.png" /></a>
                <a href="javascript:void(0);" class="arrows right"><img src="/img/flip_arrow_right.png" /></a>
            </div>
        </div>
        <div class="flipbook-info-container">
            <div class="destination-container">
               
                <img src="/img/destination_title_bg.png" class="title" />
         
             
                <a data-value="GREECE" class="destination active">
                    <img src="/img/dest_gr.png" alt="" />
                </a>
                <a data-value="UKRAINE" class="destination">
                    <img src="/img/dest_ukr.png" alt="" />
                </a>
                <a data-value="PAKISTAN" class="destination">
                    <img src="/img/dest_pak.png" alt="" />
                </a>

                <img src="/img/dest_end.png" class="end" />
            </div>
            <div class="pagination-container">
                PAGE: <span class="present-num">4</span> <span class="seperator">-</span> <span class="total-num">30</span>
            </div>
        </div>
    </div>
</div>

<!-- bottom part -> menu & buttons -->
<section id="bottomPartWrapper">
    <div class="container">
        <div class="w-col-md-4"><a target="_self" href="/previewfamily" class="footer-btn edit-btn">Edit Avatar</a></div>
        <!-- steps menu -->
        <ul class="steps-menu w-col-md-4">
            <li class="done">
                <span class="circle"></span>
                <span class="bar"></span>
                <span class="avatar-label">AVATAR</span>
            </li>
            <li class="active">
                <span class="circle"></span>
                <span class="bar"></span>
                <span class="avatar-label">FAMILY</span>
            </li>
            <li class="todo">
                <span class="circle"></span>
                <span class="bar"></span>
                <span class="avatar-label">BOOK</span>
            </li>
        </ul>
        <div class="w-col-md-4">
            <a target="_self" href="/dedication" class="footer-btn">Buy the Book</a>
        </div>
    </div>
</section><!-- end id:bottomPartWrapper -->
