<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '181237689004618');
fbq('track', 'PageView');
fbq('track', 'InitiateCheckout');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=181237689004618&ev=PageView&noscript=1"
/></noscript>
<div class="character-wrapper container pfpreview message-page">
    <div class="header-info">
        <div class="input-container">
            <a class="pencil" href="javascript:void(0);"></a>
            <!-- family's name -->
            <input type="text" name="" id="" placeholder="FAMILY NAME" value="TIMOS' BOOK" />
        </div>
        <!-- help button -->
        <a href="javascript:void(0);" class="q-circle">?</a>
    </div>

    <div class="flip-book-info">
        <div class="text-container">
            <strong>Congratulations!</strong> <br />You are few clicks away from your <strong>first Book!</strong>
        </div>
        <div class="flipbook-style">
            <div class="page-wrapper">

                <div class="page"><img src="/img/book_back.png" alt="" /></div>
                <div class="page">
                    <div class="form-container">
                        <img src="../img/form_bg.png" />
                        <h2>Write a special message</h2>
                        <h3>We will print it in the first page</h3>
                        <textarea placeholder="Write something beautiful..."></textarea>
                    </div>
                </div>
                <!--Placeholder, required for responsive layout (height). Please do not remove-->
                <img src="/img/book_page1.png" alt="" class="flipbook-placeholder" />
                <!--Placeholder, required for responsive layout (height). Please do not remove-->
            </div>
        </div>
    </div>
</div>

<!-- bottom part -> menu & buttons -->
<section id="bottomPartWrapper">
    <div class="container">
        <div class="w-col-md-4"><a target="_self" href="/" class="footer-btn edit-btn">Edit Avatar</a></div>
        <!-- steps menu -->
        <ul class="steps-menu w-col-md-4">
            <li class="done">
                <span class="circle"></span>
                <span class="bar"></span>
                <span class="avatar-label">AVATAR</span>
            </li>
            <li class="active">
                <span class="circle"></span>
                <span class="bar"></span>
                <span class="avatar-label">FAMILY</span>
            </li>
            <li class="todo">
                <span class="circle"></span>
                <span class="bar"></span>
                <span class="avatar-label">BOOK</span>
            </li>
        </ul>
        <div class="w-col-md-4">
<!--             <a target="_self" href="javascript:alert('This will be linked to payment')" ng-click="alert('This will be linked to payment')" class="footer-btn">Buy the Book</a> -->
  <form ng-if="preview.priceandcurrencyloaded" action="/charge" method="POST">
<script
  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="pk_test_9ivWptW7MxIEijAidlMGhOta"
  data-amount="{{preview.price}}"
  data-currency="{{preview.currency}}"
  data-name="Family Stories"
  data-description="Custom Book"
  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
  data-locale="auto"
  data-shipping-address="true" 
  data-billing-address="false"
  data-label="Buy the Book"
  data-panel-label="Buy the Book">
</script>
</form>
        </div>
    </div>
</section><!-- end id:bottomPartWrapper -->