            <section class="profile-header">
                <img src="/img/profile_bg.jpg" alt="" />
                <div class="container">
                    <img class="user-avatar" src="/img/user_avatar.jpg" alt="" />
                    <h2>Hello Claire!</h2>
                    <h3>claire.underwood@gmail.com</h3>
                </div>
            </section>

            <section class="avatars container">
                <div class="avatars-header">
                    <h2>Avatars</h2>
                    <a href="javascript:void(0);" class="edit-btn">EDIT CHARACTERS</a>
                </div>
                <div class="avatars-wrapper">
                    <div class="col-1-of-3">
                        <img src="/img/avatar1.jpg" alt="" />
                    </div>
                    <div class="col-1-of-3">
                        <img src="/img/avatar2.jpg" alt="" />
                    </div>
                    <div class="col-1-of-3">
                        <img src="/img/avatar3.jpg" alt="" />
                    </div>
                </div>
            </section>

            <section class="orders container">
                <div class="orders-header">
                    <h2>Orders</h2>
                </div>
                <div class="orders-wrapper">
                    <!-- block -->
                    <div class="order-block">
                        <div class="img-c"><img src="/img/order_book_cover.jpg" alt="" /></div>
                        <div class="info">
                            <h3>A trip around the world <br />for <strong>Eleni</strong></h3>

                            <div class="order-btn">
                                <a href="javascript:void(0);">PROCEED TO ORDER</a>
                            </div>
                        </div>
                        <div class="status">
                            <a href="javascript:void(0);" class="delete-order">DELETE</a>
                        </div>
                    </div><!-- block -->

                    <!-- block -->
                    <div class="order-block">
                        <div class="img-c"><img src="/img/order_book_cover.jpg" alt="" /></div>
                        <div class="info">
                            <h3>A trip around the world <br />for <strong>Timos</strong></h3>

                            <div class="order-details">
                                <h4><strong>Order Number:</strong> 12345678</h4>
                                <h4><strong>Delivered:</strong> 12 - 18 October 2016</h4>
                            </div>
                        </div>
                        <div class="status">
                            <span class="on-the-way-order">ON THE WAY</span>
                        </div>
                    </div><!-- block -->

                    <!-- block -->
                    <div class="order-block">
                        <div class="img-c"><img src="/img/order_book_cover.jpg" alt="" /></div>
                        <div class="info">
                            <h3>A trip around the world <br />for <strong>Alexandra</strong></h3>

                            <div class="order-details">
                                <h4><strong>Order Number:</strong> 12345678</h4>
                                <h4><strong>Expected delivery:</strong> 28 December 2016 - 2 January 2017</h4>
                            </div>
                        </div>
                        <div class="status">
                            <span class="delivered-order">DELIVERED</span>
                        </div>
                    </div><!-- block -->
                </div>
            </section>